/* Base Variables (Cyan active state) */
@define-color background-color #0C0C0C;
@define-color border-color #40BE96;
@define-color label #40BE96;
@define-color image #6C9FBF;
@define-color progress #40BE96;

/* --- OVERRIDES: Specificity Hacks --- */

/* 1. Force 3px border (Outranks the generic 'window' tag in style.css) */
window#osd {
  border-width: 3px;
}



/* this isnt supported yet
 * but maybe it will in the futury
 * so i am leaving it here in the hope of a future update */

/* 2. Muted State (Red = Stop/Alarm) */
/*
window#osd.muted {
  border-color: #B83E46;
}

window#osd.muted label,
window#osd.muted image {
  color: #B83E46;
}

window#osd.muted progress {
  background-color: #B83E46;
}
*/
